<table class="table">
    <thead>
      <tr>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of userObjectList">
        <td>{{u.userId}}</td>
        <td>{{u.userFname}}</td>
        <td>{{u.userLname}}</td>
        <td>{{u.userAddress}}</td>
      </tr>
     </tbody>
      </table>