<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="loginForm" class="form" name="loginForm" #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="name" class="form-control" [(ngModel)]="user.username" #name="ngModel"
                                [ngClass]="{ 'is-invalid': loginForm.submitted && name.invalid }" required>
                              <div class="invalid-feedback" *ngIf="loginForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Name is required</p>
                              </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel"
                                [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required>
                              <div class="invalid-feedback" *ngIf="loginForm.submitted && password.invalid">
                                <p *ngIf="password.errors.required">Password is required</p>
                              </div>
                            </div>
                            <div class="row">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" class="btn btn-info btn-md" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
