<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Teacher">Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Student">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Subject">Subject</a>
      </li>
    </ul>
  
  </nav>